extends ../../layouts/default.pug
include ../../mixins/alert.pug


block main
    +alert-success("7000")
    +alert-error("7000")
    

    .container.mt-md-5.pt-md-5
        .row
            .inner-wrap
                .col-md-6.inner-image
                    img(src=`${product.thumbnail}`, alt="")
                .col-md-6.inner-content
                        .inner-title
                            h2 #{product.title}
                        .row.ml-md-1
                            b  Brand from:
                            .inner-brand.ml-md-2
                                div #{ product.brand ? product.brand : "   unknown" }
                        .inner-desc.ml-md-1
                            i #{product.description}
                        .row.ml-md-1
                            b  Slug:  
                            .inner-brand.ml-md-2
                                div #{ product.slug}
                .col-md-12.m-md-5.d-flex.flex-row.text-center
                    <button type="button" class="btn btn-outline-primary btn-lg m-md-1"> Final Price #{product.price}$</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg m-md-1"> Discount #{product.discountPercentage}%</button>
                    <button type="button" class="btn btn-outline-success btn-lg m-md-1"> Stock #{product.stock}</button>
                    <button type="button" class="btn btn-outline-danger btn-lg m-md-1" style="color: #F72D93; background: white;"> Position #{product.position}</button>
                    a(
                        href="javascript:;" 
                        class=`btn ${product.deleted ? "btn-outline-secondary" : "btn-outline-info"}  m-md-1 btn-lg`
                    ) #{product.deleted == true ? "Deleted" : "Not Yet Deleted"}
                
                    a(
                        href="javascript:;" 
                        class="btn btn-outline-danger btn-lg m-md-1"
                    ) #{product.status}
                .col-12.mt-md-1
                    a(href=`${prefixAdmin}/products/edit/${product.id}` class="btn btn-warning btn-lg inactive mr-md-1 ml-1 btn-block" role="button" aria-pressed="true") Edit


                    


    script(src="/admin/js/product.js")
    script(src="/admin/js/createProduct.js")

    
