extends ../../layouts/default.pug
include ../../mixins/alert.pug


block main
    +alert-success("7000")
    +alert-error("7000")
    .left-1
        .row
            .col-md-9
                h2 #{pageTitle}
            .col-md-3
                a(href=`${prefixAdmin}/products/detail/${product.id}` class="btn btn-danger btn-sm mr-md-1" role="button" aria-pressed="true") Go To Detail
                a(href=`${prefixAdmin}/products?id_search=${product.id}` class="btn btn-info btn-sm mr-md-1" role="button" aria-pressed="true") Go To Product
            .col-md-12
                form(
                    action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
                    id="form-edit-product"
                    method="POST"
                    enctype="multipart/form-data"
                )
                    div(class="form-control")
                        lable(for="title") Title (Product name)
                        input(
                            type="text"
                            class="form-control "
                            id="title"
                            name="title"
                            required
                            value=`${product.title}`
                        )
                    div(class="form-control")
                        lable(for="desc") Description (Details about feature uses)
                        textarea(
                            class="form-control textarea-mce"
                            id="desc"
                            name="description"
                            rows="5"
                        ) #{product.description}
                    div(class="form-control")
                        lable(for="brand") Brand (Example: VSmart, Apple, Sony, Huawei, Samsung, ...)
                        input(
                            type="text"
                            class="form-control"
                            id="brand"
                            name="brand"
                            value=product.brand
                        )
                    div(class="form-control")
                        lable(for="price") Price
                        input(
                            type="number"
                            class="form-control"
                            id="price"
                            name="price"
                            min="0"
                            value=product.price
                        )
                    div(class="form-control")
                        lable(for="discount") Discount %
                        input(
                            type="number"
                            class="form-control"
                            id="discount"
                            name="discountPercentage"
                            min="0"
                            max="100"
                            value=product.discountPercentage
                        )
                    div(class="form-control")
                        lable(for="thumbnail") Thumbnail (File/Link, Please Click On Button To Toggle Option !)
                        .mb-md-2.mt-md-2
                            button(type="button" class="btn btn-success" button-toggle-option-image) Populate Image Link
                        div(input-change)
                            input(
                            input-image-upload
                            type="text"
                            class="form-control-file"
                            id="thumbnail"
                            name="thumbnail"
                            value=product.thumbnail
                        )
                        .col-md-12.text-center.m-md-2
                            div(preview-image-upload)
                                img(src=product.thumbnail style="width: 50%; height: auto;")
                    div(class="form-control")
                        lable(for="stock") Stock
                        input(
                            type="number"
                            class="form-control"
                            id="stock"
                            name="stock"
                            min="0"
                            value=product.stock
                        )
                    div(class="form-control")
                        lable(for="position") Position
                        input(
                            placeholder="Automatically Increase"
                            type="number"
                            class="form-control"
                            id="position"
                            name="position"
                            min="0"
                            value=product.position
                        )
                        .row.mt-md-3.mb-md-3
                            .col-md-4
                                div(class="form-control form-check form-check-inline")
                                    input(
                                        type="radio"
                                        class="form-check-input"
                                        id="statusActive"
                                        name="status"
                                        value="active"
                                        checked= product.status == "active" ? true : false
                                    )
                                    lable(for="statusActive") Active
                            .col-md-8
                                div(class="form-control form-check form-check-inline")
                                    input(
                                        type="radio"
                                        class="form-check-input"
                                        id="statusInActive"
                                        name="status"
                                        value="inactive"
                                        checked= product.status == "inactive" ? true : false
                                    )
                                    lable(for="statusInActive") In-Active

                    .ml-md-2
                        div(class="form-group")
                            button(
                                type="submit"
                                class="btn btn-success btn-lg btn-block"
                            ) Apply Edit


    script(src="/admin/js/product.js")
    script(src="/admin/js/createProduct.js")

    
