extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
block main
    +alert-success("7000")
    +alert-error("7000")
    .marleft
        .fixed-title
            h1 #{pageTitle}
        
        .card.mb-1
            .card-header Filter And Search
            .card-body
                .smart-bar 
                    .row
                        .col-md-6
                            +filter-status(filterStatus)
                        
                        .col-md-6.mb-3
                            +search(keyword)
        

        .card.mb-3
            .card-header List Option Status
                .card-body
                    .row
                        .col-md-3
                            select(name="sort" class="form-control" id="sort-select" sort-select style="border: 1px solid #ddd")
                                option(disabled) Choose Sort Option
                                option(value="position-desc") Position Up
                                option(value="position-asc") Position Down
                                option(value="price-asc") Price Up
                                option(value="price-desc") Price Down
                                option(value="title-asc") A - Z
                                option(value="title-desc") Z - A
                        .col-md-6
                            +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`, listIdChangeStatus)
                        .col-md-3
                            button(type="button" class="btn btn-danger" style="background-color: #F72D93") 
                                a(href=`${prefixAdmin}/products/create` class="a-none" style="color: white;") Add New Product
                table.checkbox-multi.table.table-hover.table-sm
                    thead
                        tr
                            th 
                                input(
                                    type="checkbox" 
                                    name="checkall" 
                                    check-all 
                                    class="check-box"
                                )
                            th STT
                            th Image
                            th Title
                            th Price
                            th Position
                            th Status
                            th Action
                    tbody
                        each item, index in products
                            tr
                                td
                                    input(
                                        type="checkbox" 
                                        name="id" 
                                        value = item.id 
                                        check-single
                                        class="check-box"
                                    )
                                td #{index + 1 + (objectPag.currentPage - 1)*objectPag.limititems}
                                td
                                    img(src=item.thumbnail, alt="SP1" width="100px" height="auto")
                                td #{item.title}
                                td #{item.price}$
                                td 
                                    input(
                                        type="number"
                                        value=item.position
                                        style="width: 60px"
                                        min="1"
                                        name="position"
                                    )
                                td 
                                    if(item.status == "active") 
                                        a(href="javascript:;" 
                                        class="badge badge-success" 
                                        data-status=item.status
                                        data-id=item.id
                                        button-change-status
                                        ) #{item.status}
                                    else 
                                        a(href="javascript:;" 
                                        class="badge badge-danger"
                                        data-status=item.status
                                        data-id=item.id
                                        button-change-status
                                        ) #{item.status} 
                                td 
                                    a(href=`${prefixAdmin}/products/detail/${item.id}` class="btn btn-danger btn-sm inactive mr-md-1" role="button" aria-pressed="true") Detail
                                    button(class="btn btn-warning btn-sm" data-id=item.id button-edit) Edit
                                    button(
                                        class=`btn ${item.deleted ? "btn-secondary" : "btn-info"} btn-sm ml-1`
                                        data-id=item.id
                                        button-delete
                                        delete-status=`${item.deleted}`
                                    ) #{item.deleted == true ? "Deleted" : "Delete"}
        +pagination(objectPag)

        form(
            action=""
            method="POST"
            id="form-change-status"
            data-path=`${prefixAdmin}/products/change-status`
        )

        form(
            action=""
            method="POST"
            id="form-delete-item"
            data-path=`${prefixAdmin}/products/delete-item`
        )

        form(
            action=""
            method="GET"
            id="edit-item-page"
            data-path=`${prefixAdmin}/products/edit`
        )

        script(src="/admin/js/product.js")
        script(src="/admin/js/script.js")
